www.meinsack.org {
  redir https://meinsack.org{uri}
}

meinsack.org {
  root /var/www/meinsack/web/
  gzip

  log /var/www/meinsack/log/access.log {
    rotate_size 100
    rotate_age 96
    rotate_keep 10
    rotate_compress
  }

  errors /var/www/meinsack/log/error.log {
    rotate_size 100
    rotate_age 96
    rotate_keep 10
    rotate_compress
  }
}
